@model DAL.EF.DANHMUC
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listProductsID = (List<DAL.EF.SANPHAM>)ViewBag.ProductsID;
}
<h1>@Model.Name</h1>
<div class="col-lg-12">
    <div class="row">
        @foreach (var item in listProductsID)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.Id;
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="@url"><img class="card-img-top" src="~/Images/@item.ImageName" alt="" style="height:200px;width:320px;"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="@url" style="color:black;">@item.Name</a>
                        </h4>
                        <h5>@item.Price</h5>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        <h5><a href="@url" style="color:black;">Chi Tiết Sản Phẩm</a></h5>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /.row -->
</div>